.limitations{
    margin: 2rem auto;
    width: 90%;
}

.title-section{
    text-align: center;
}

.card{
    margin: 1rem 0;
    padding: 0.7rem;
    border: 2px solid white;
    box-shadow: 0 8px 8px 8px rgba(231, 245, 254, 0.8);
}



@media screen and (min-width: 768px){
    .limitation-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card{
        margin: 0.5rem 0;
    }

    .card:nth-child(5) {
        grid-column: 1 / 3; /* Spans across both columns */
        justify-self: center;
        width: 50%;
    }
}