<div class="bmi-background">
    <div class="title-description">
        <img src="../../assets/images/logo.svg" alt="logo">
        <h1 class="mt-4 heading-x-large">Body Mass Index Calculator</h1>
        <p class="medium-body mt-2">
            Better understand your weight in relation to your height using our body mass index (BM) 
            calculator. While BMI is not the sole determinant of a healthy weight, it offers a 
            valuable starting point to evaluate your overall health and well-being.
        </p>
    </div>

    <div class="calculator px-4">
        <h2 class="heading-medium mt-3">Enter your details below</h2>

        <div class="radio d-flex justify-content-between">
            <div>
                <input type="radio" id="metric" name="metric" value="metric" [checked]="metricOptionSelected" (change)="onOptionChange(true)">
                <label for="metric" class="bold-medium-body medium-body ms-2">Metric</label><br>
            </div>
            <div>
                <input type="radio" id="imperial" name="imperial" value="imperial" [checked]="!metricOptionSelected" (change)="onOptionChange(false)">
                <label for="imperial" class="bold-medium-body medium-body ms-2">Imperial</label>
            </div>
        </div>

        <div>
            <div class="height mt-3">
                <p class="small-body">Height</p>
                <div *ngIf="metricOptionSelected" class="heading-medium bold-medium-body w-100 p-2 bmi-metric-input">
                    <input placeholder="0" type="number" class="border-0" [(ngModel)]="inputValues.heightInputCm" (ngModelChange)="onInputChange()">
                    <span class="measurement-unit">cm</span>
                </div>
                <div *ngIf="!metricOptionSelected" class="bmi-imperial-units">
                    <div class="heading-medium bold-medium-body bmi-imperial-box d-flex justify-content-around py-2">
                        <input placeholder="0" type="number" class="bmi-imperial-input border-0" [(ngModel)]="inputValues.heightInputFt" (ngModelChange)="onInputChange()">
                        <span class="measurement-unit me-2">ft</span>
                    </div>
                    <div class="heading-medium bold-medium-body bmi-imperial-box d-flex justify-content-around py-2">
                        <input placeholder="0" type="number" class="bmi-imperial-input border-0" [(ngModel)]="inputValues.heightInputIn" (ngModelChange)="onInputChange()">
                        <span class="measurement-unit me-2">in</span>
                    </div>
                </div>
            </div>

            <div class="weight mt-3">
                <p class="small-body">Weight</p>
                <div *ngIf="metricOptionSelected" class="heading-medium bold-medium-body w-100 p-2 bmi-metric-input">
                    <input placeholder="0" type="number" class="border-0" [(ngModel)]="inputValues.weightInputKg" (ngModelChange)="onInputChange()">
                    <span class="measurement-unit">kg</span>
                </div>
                <div *ngIf="!metricOptionSelected" class="bmi-imperial-units">
                    <div class="heading-medium bold-medium-body bmi-imperial-box d-flex justify-content-around py-2">
                        <input placeholder="0" type="number" class="bmi-imperial-input border-0" [(ngModel)]="inputValues.weightInputSt" (ngModelChange)="onInputChange()">
                        <span class="measurement-unit me-2">st</span>
                    </div>
                    <div class="heading-medium bold-medium-body bmi-imperial-box d-flex justify-content-around py-2">
                        <input placeholder="0" type="number" class="bmi-imperial-input border-0" [(ngModel)]="inputValues.weightInputLbs" (ngModelChange)="onInputChange()">
                        <span class="measurement-unit me-2">lbs</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <div class="result p-3">
                <div *ngIf="bmiResult">
                    <p class="medium-body text-white bold-medium-body">Your BMI result is ...</p>
                    <h1 class="heading-x-large text-white">{{ bmiResult }}</h1>
                    <p class="text-white medium-body">
                        Your BMI suggests you're {{ weightCategory }}. Your ideal weight is between <span class="bold-medium-body">{{ idealWeightRange.lowerRange }} - {{ idealWeightRange.upperRange }}</span>.
                    </p>
                </div>
                <div *ngIf="!bmiResult">
                    <h3 class="heading-medium text-white">Welcome</h3>
                    <p class="text-white medium-body">Enter your height and weight and you'll see your BMI result here</p>
                </div>
            </div>
        </div>
    </div>
</div>