.bmi-background{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title-description{
    background-image: linear-gradient(to bottom right, white, #AFDBF5);
    padding: 3rem 5rem 7rem;
    text-align: center;
    border-radius: 0 0 40px 40px;
    margin-bottom: -7rem; 
}


.calculator{
    background-color: white;
    width: 90%;
    padding-bottom: 2rem;
    box-shadow: 0 8px 8px 8px rgba(231, 245, 254, 0.8);
}

/* Hide default radio button */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px; 
    height: 15px;
    border-radius: 50%; 
    outline: none;
    border: 2px solid #D8E2E7; 
  }
  
  /* Blue color when selected */
  input[type="radio"]:checked {
    background-color: rgb(52, 95, 246);
    box-shadow: 0 0 20px rgba(52, 95, 246);
  }
  
input:hover, 
.bmi-metric-input:hover, 
.bmi-imperial-box:hover{
  border: 2px solid rgba(52, 95, 246); 
  cursor: pointer;
}

.bmi-metric-input{
    border: 2px solid #D8E2E7;
    border-radius: 8px;
}

.bmi-imperial-box{
  border: 2px solid #D8E2E7;
  border-radius: 6px;
  width: 45%;
}

.bmi-imperial-units{
  display: flex;
  justify-content: space-between;
  width: 100%
}

.bmi-imperial-input{
  width: 70%;
}

.measurement-unit {
    color: rgb(52, 95, 246); 
}

.result{
  text-align: left;
  background-color: rgb(52, 95, 246);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .flex-height-weight{
    display: flex;
    justify-content: space-between;
  }

  .result{
    border-radius: 8px 70px 70px 8px;
  }
}

@media screen and (min-width: 1440px) {
  .bmi-background{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  .title-description{
    text-align: left;
    margin-right: -8rem; 
    width: 100%;
    align-self: flex-start;
  }

  .title-text{
    width: 70%;
  }

  .calculator{
    margin-left: -10rem;
    width: 80%;
    margin-top: 3rem;
    margin-right: 4rem;
    box-shadow: 0 8px 8px 0 rgba(231, 245, 254, 0.8);
  }

  .title-description-height{
    padding: 3rem 5rem 12rem;
  }
}

  