/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif; 
    background-color: #FBFBFD;
    // background-image: linear-gradient(to bottom right, #E7F5FE, #FBFBFD);
}

h1, h2, h3{
    color: #253347;
    font-weight: 600;
}

p {
   color: #5E6E85;
}


.heading-x-large{
  font-size: 40px;  
}

.heading-large{
    font-size: 30px;
}

.heading-medium{
    font-size: 20px;
}

.heading-small{
    font-size: 15px;
}


.medium-body{
    font-size: 11px;
}

.large-body{
    font-size: 16px;
}

.bold-medium-body{
    font-weight: 600;
}

input:focus {
    outline: none;
}

.text-white{
    color: white
}

.white-background{
    background-color: white;
}

@media screen and (min-width: 768px){
    .heading-x-large{
        font-size: 64px;  
    }
      
    .heading-large{
          font-size: 48px;
    }
      
    .heading-medium{
          font-size: 24px;
    }
      
    .heading-small{
          font-size: 20px;
    }

    .medium-body{
        font-size: 14px;
    }
    
    .large-body{
        font-size: 16px;
    }
      
}