.result-meaning-text{
    margin: 0 auto;
    width: 90%;
    text-align: left;
}

.tips{
    margin: 3rem auto;
    width: 90%;
}

.tips-section{
    background-image: linear-gradient(to bottom right, #FBFBFD, #E7F5FE);
}

.image-man-eating{
    width: 100%;
    border-radius: 8px;
}

@media screen and (min-width: 768px){
    .result-meaning{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .image-man-eating{
        width: 50%;
    }

    .result-meaning-text{
        width: 40%;
        align-self: center;
    }

    .tip {
        display: flex;
        justify-content: space-between;
    }

    .tip-text{
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1440px){
    .image-man-eating{
        margin-left: 5rem;
        height: 30%;
        width: 30%;
    }

    .bmi-result-heading{
        font-size: 48px;
    }

    .large-body{
        font-size: 20px;
    }

    .tips-section{
        margin-top: 5rem;
    }

    .tips{
        display: flex;
        gap: 20px;
    }

    .tip{
        display: flex;
        flex-direction: column; 
    }

    .tip-img{
        width: 20%;
    }

    .tip-text{
        margin-left: 0;
    }
}